name: Auto Label Issues and PRs

on:
  pull_request_target:
    types: [opened]
  issues:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  add-labels:
    runs-on: ubuntu-latest
    steps:
      - name: Add labels to PR
        if: github.event_name == 'pull_request_target'
        uses: actions/github-script@v7
        with:
          script: |
            const prNumber = context.payload.pull_request.number;

            await github.rest.issues.addLabels({
              ...context.repo,
              issue_number: prNumber,
              labels: ["recode", "level 1", "hactoberfest-accepted"]
            });

            console.log(`Added labels [recode, level 1,hactoberfest-accepted] to PR #${prNumber}`);

      - name: Add labels to Issue
        if: github.event_name == 'issues'
        uses: actions/github-script@v7
        with:
          script: |
            const issueNumber = context.payload.issue.number;

            await github.rest.issues.addLabels({
              ...context.repo,
              issue_number: issueNumber,
              labels: ["recode", "level 1", "hactoberfest-accepted"]
            });

            console.log(`Added labels [recode, level 1, hactoberfest-accepted] to Issue #${issueNumber}`);
